						<nav id="nav">
							<ul>
								<li><%= link_to  "Home", root_path %></li>
								<li><%= link_to  "test", pages_test_path %></li>
								<li><%= link_to  "log in", users_login_path %></li>
								<li>Right Sidebar</li>
								<li>No Sidebar</li>
							</ul>
						</nav>